### IntelliJ ###
.idea
*.iml

### Maven ###
/target/
/target11x/
/targetV2/
/targetV3/

### GEN ###
gen

### Custom Yaml ###
**/tiger-GNDEV*.yml

### Sandboxes ###
src/test/resources/features/Sandbox/
src/main/java/de/gematik/tim/test/glue/api/sandbox/

### Saved Reports ###
reports

### Example Report data ###
serenityReportExample/additional-data

### Stuff ###
**/src/test/resources/features

artefacts/
doc/userguide/SzenarioCountV2.txt
doc/userguide/Testsuite_Basis_Draft.adoc
doc/userguide/Testset_V2_Draft.adoc
doc/userguide/Testset_V3_Draft.adoc
jenkinsfiles/
src/main/resources/certs/
src/test/resources/templates/ConfidentialityEnhancement/
src/test/resources/templates/FeatureFiles/TI-M_11X/ZusatztestsOrgOnly/
src/test/resources/templates/FeatureFiles/TI-M_11X/Zusatztests/
src/test/resources/templates/FeatureFiles/TI-M_V3
src/test/resources/templates/Suites_Archiv
src/test/resources/templates/Spielwiese/



.owaspignore
tiger-*.yml
compose*.yaml
ci-pom.xml
dev-pom.xml
release-pom.xml
config.env
prod-pom.xml

