### IntelliJ ###
.idea
*.iml

### Maven ###
target

### GEN ###
gen

### Custom Yaml ###
**/tiger-GNDEV*.yml

### Sandboxes ###
src/test/resources/features/Sandbox/
src/main/java/de/gematik/tim/test/glue/api/sandbox/

### Saved Reports ###
reports

### Example Report data ###
serenityReportExample/additional-data

### Stuff ###
**/src/test/resources/features

artefacts/
doc/userguide/SzenarioCountV2.txt
jenkinsfiles/
src/main/resources/certs/
src/test/resources/templates/ConfidentialityEnhancement/
src/test/resources/templates/FeatureFiles/TI-M_11X/ZusatztestsOrgOnly/
src/test/resources/templates/FeatureFiles/TI-M_11X/Zusatztests/
src/test/resources/templates/FeatureFiles/TI-M_Abwaertskompatibilitaet_vs11X/
src/test/resources/templates/Spielwiese/



.owaspignore
.licenseignore
tiger-*.yml
compose*.yaml
ci-pom.xml
dev-pom.xml
release-pom.xml
config.env

