### IntelliJ ###
.idea
*.iml

### Maven ###
target

### GEN ###
gen

### Custom Yaml ###
**/tiger-GNDEV*.yml

### Sandboxes ###
src/test/resources/features/Sandbox/
src/main/java/de/gematik/tim/test/glue/api/sandbox/

### Saved Reports ###
reports

### Stuff ###
**/src/test/resources/features

jenkinsfiles/
src/main/resources/certs
src/test/resources/templates/ConfidentialityEnhancement/
src/test/resources/templates/Zukunft/
src/test/resources/combine_items_prod.json
src/test/resources/templates/FeatureFiles/TI-M_11X/ZusatztestsOrgOnly/
src/test/resources/templates/FeatureFiles/TI-M_Abwaertskompatibilitaet_vs11X/Zulassungstests_ePA_11X/
src/test/resources/templates/FeatureFiles/TI-M_Abwaertskompatibilitaet_vs11X/Zulassungstests_Pro_11X/
src/test/resources/templates/FeatureFiles/TI-M_Abwaertskompatibilitaet_vs11X/old/
src/test/resources/templates/FeatureFiles/TI-M_Pro/Zulassungstests/
src/test/resources/templates/FeatureFiles/TIM_V2/Draft_Zum_Kopieren/UCX
src/test/resources/templates/FeatureFiles/TIM_V2/Draft_Zum_Kopieren/UC2_Placeholder_nichtLoeschen
src/test/resources/templates/FeatureFiles/TIM_V2/UCs_Basis/UC00_Geraete_Informationen_abfragen
src/test/resources/templates/FeatureFiles/TIM_V2/UCs_Basis/UC03_Foederationszugehoerigkeit_pruefen
src/test/resources/templates/FeatureFiles/TIM_V2/UCs_Basis/UC04_Austausch_von_Events_zwischen_Akteuren_innerhalb_einer_Organisation
src/test/resources/templates/FeatureFiles/TIM_V2/UCs_Basis/UC05_Einladung_von_Akteuren_ausserhalb_einer_Organisation
src/test/resources/templates/FeatureFiles/TIM_V2/UCs_Basis/UC06_Austausch_von_Events_zwischen_Akteuren_ausserhalb_einer_Organisation
src/test/resources/templates/FeatureFiles/TIM_V2/UCs_Basis/UC08_Eintraege_im_VZD-FHIR-Directory_suchen
src/test/resources/templates/FeatureFiles/TIM_V2/UCs_Basis/UCX09_Room_States_ueberpruefen
src/test/resources/templates/FeatureFiles/TIM_V2/UCs_ePA/UC02_Anmeldung_eines_Akteurs
src/test/resources/templates/FeatureFiles/TIM_V2/UCs_ePA/UC03_Berechtigungsmanagement
src/test/resources/templates/FeatureFiles/TIM_V2/UCs_ePA/UCX04_Spezial
src/test/resources/templates/FeatureFiles/TIM_V2/UCs_Pro/UC01_Organisationsressourcen_im_Verzeichnisdienst_hinzufuegen
src/test/resources/templates/FeatureFiles/TIM_V2/UCs_Pro/UC02_Akteur_(User-HBA)_im_Verzeichnisdienst_hinzufuegen
src/test/resources/templates/FeatureFiles/TIM_V2/UCs_Pro/UC03_Practitioner_FHIR-VZD_Sichtbarkeit_fuer_Versicherte_setzen
src/test/resources/templates/FeatureFiles/TIM_V2/UCs_Pro/UC04_Anmeldung_eines_Akteurs
src/test/resources/templates/FeatureFiles/TIM_V2/UCs_Pro/UC05_Einladung_von_Akteuren_innerhalb_einer_Organisation
src/test/resources/templates/FeatureFiles/TIM_V2/UCs_Pro/UCX06_Gruppenchat
src/test/resources/templates/FeatureFiles/TIM_V2/UCs_Pro/UCX07_Nutzung_mehrerer_Devices
src/test/resources/TestForGit

.owaspignore
tiger-*.yml
compose*.yaml

